@import './colors.scss';
@import './NavBarOffCanvas.scss';

.header{
    .menu{
        display:none;
    }
    // .NavBarOffCanvas-background{
    //     display: none;
    // }

    display:flex;
    justify-content: space-between;
    align-items: center;
    width:85%;

    .navbar a{
        padding:6%;
        color: $Dark-grayish-blue;
    }

    .navbar a:hover{
        color:$Soft-orange;
    }
}