
.readmore{
    border-radius: 0;
    background-color: $Soft-red;
    color:$Off-white;
    padding:5% 10%;
    letter-spacing: 3px;
    font-size: smaller;
    font-weight: bold;
  
  }
  
  .readmore:hover{
    background-color: $Very-dark-blue;
  }