@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
@import './styles/Header.scss';
@import './styles/colors.scss';
@import './styles/MainNews.scss';
@import './styles/NewSection.scss';
@import './styles/BottomSection.scss';
@import './styles/readmore.scss';

html,
body {
  margin: 0px;
  height: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
}
#root {
  height:100%;
}

.main{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.5fr 3fr auto;
  grid-template-areas: 
  'Header Header Header'
  'main main new'
  'main main new'
  'main main new'
  'bottom bottom bottom';
  grid-gap:3%;
  padding: 3em 10rem;


  .header{
    grid-area: Header;
  }

   

  




}


.attribution{
  text-align: center;
  padding: 2%;

  a{
    color:$Soft-red;
  }
}



//max-width:376px
@media(max-width:800px) {

  .header{
    width: 100%;
    .navbar{
      display:none;
    }
    .menu{
      display: inline-block;
      
      button{
        background-color: transparent;
      }
    }


  }

  .main {
    padding:1.5em;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .MainNews{
      display: flex;
      flex-direction: column;

      .news-title{
        .title{
          font-size: 250%;
        }
      }

      .news-desc{
        font-size: 90%;
        .readmore{
          padding: 2% 6%;
        }
      }


      
      .news-img{
        .mobile{
          display: block;
        }
        .desktop{
          display: none;
        }
        img {
          max-width: 100%;
          height: auto;
        }
      }

    }

    .BottomSection{
      display: flex;
      flex-direction: column;
    }
  }
}